.con{
    margin: 15px;
}

.regist_from{
    margin: 15px;
}

.img{
    margin: 0px;
}

.there{
    color: #0000FF;
}

.absent{
    color: #FF0000;
}

body{
    color: #FFFFFF;
    background-color: #555555;
}

