<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> kondate </title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/vue.min.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
  </head>
  <body>
      <div id="header">
        <nav class="navbar navbar-default">
        <div class="container-fluid"> 
            <a href="../index.html" class="navbar-brand">kondate</a>  
                        <!-- /.navbar-collapse --> 
          </div>
                          <!-- /.container-fluid --> 
        </nav>
      </div>
      <div class="text-center">
          <h2>お気に入りレシピです</h2>
          <p class="there">冷蔵庫にある食材</p>
          <p class="absent">冷蔵庫に食材</p>
      </div>
      <div class="text-center">
        <table class="table">
          <tr id="soibarg">
            <td v-on:click="soibarg_open">ビーフカレー</td>
            <td v-if="soibarg">
                <table class="table">
                    <tr class="there">
                      <td>人参</td>
                      <td>2本</td>
                    </tr>
                    <tr class="absent">
                        <td>牛肉</td>
                        <td>400g</td>
                      </tr>
                    <tr class="absent">
                      <td>玉ねぎ</td>
                      <td>2こ</td>
                    </tr>
                    <tr class="absent">
                      <td>カレールー</td>
                      <td>50cc</td>
                    </tr>
                    <tr>
                      <td> <a href="./kondatecleate.html">作り方</a></td>
                      <td> <a href="../store/index.html">オンラインで購入</a></td>
                    </tr>
                  </table>              
            </td>
          </tr>
          <tr id="maerbor">
            <td v-on:click="maerbor_open">親子丼</td>
            <td v-if="maerbor">
                <table class="table">
                    <tr class="there">
                      <td>卵</td>
                      <td>5個</td>
                    </tr>
                    <tr class="absent">
                      <td>玉ねぎ</td>
                      <td>2こ</td>
                    </tr>
                    <tr class="absent">
                      <td>鶏もも肉</td>
                      <td>80g</td>
                    </tr>
                    <tr class="absent">
                      <td>砂糖</td>
                      <td>小さじ2</td>
                    </tr>
                    <tr class="absent">
                        <td>出汁</td>
                        <td>1/2カップ</td>
                      </tr>
                    <tr>
                        <td> <a href="./kondatecleate.html">作り方</a></td>
                        <td> <a href="../store/index.html">オンラインで購入</a></td>
                      </tr>
                  </table>              
            </td>            
          </tr>
        </table>
      </div>
      <script src="../js/myvue.js"></script>
  </body>
</html>
